

#filters {
    padding: 10px 25px;
}

.project {
    margin-bottom: 5px;
    min-width: 400px
}

.project-card {
    background-color: #011221;
    border: 1px solid #1e2d3d;
    border-radius: 15px;
    max-width: 400px;
    overflow: hidden;
}

#tab {
    flex-wrap: wrap;
    padding: 25px 25px 5px
}

.tech-icon {
    opacity: .4
}

.tab-height {
    max-height: 35px;
    min-height: 35px;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid;
    border-radius: .15em;
    height: 1.15em;
    margin-top: 1px;
    width: 1.15em
}

input[type=checkbox]:checked {
    background-color: currentColor;
    background-image: url("data:image/svg+xml;utf8,<svg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.38587 7.2802L11.9718 0.693573L12.9856 1.70668L5.38587 9.30641L0.826172 4.74671L1.83928 3.73361L5.38587 7.2802Z' fill='white'/></svg>");
    background-position: 50%;
    background-repeat: no-repeat
}

input[type=checkbox]:checked ~ label {
    color: #fff
}

input[type=checkbox]:checked ~ .tech-icon {
    opacity: 1
}

input[type=checkbox]:checked:hover {
    box-shadow: 0 0 0 2px #607b968b
}

input[type=checkbox]:not(:checked) {
    border-color: currentColor
}

input[type=checkbox]:hover {
    background-color: currentColor;
    background-image: url("data:image/svg+xml;utf8,<svg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.38587 7.2802L11.9718 0.693573L12.9856 1.70668L5.38587 9.30641L0.826172 4.74671L1.83928 3.73361L5.38587 7.2802Z' fill='white'/></svg>");
    background-position: 50%;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 2px #607b968b;
    cursor: pointer
}

input[type=checkbox]:hover:not(:checked) {
    background-color: #0000001a;
    background-image: none;
    box-shadow: 0 0 0 2px #607b968b;
    cursor: pointer
}

input[type=checkbox]:focus {
    box-shadow: none
}

#filters label:hover {
    color: #fff
}
#projects-case {
    scrollbar-width: thin;
    overflow-x: hidden;
    scrollbar-color: #607b96 #00000000;
}

@media (max-width: 768px) {
    .project {
        min-width:100%
    }
    #projects-case {
        padding:0 25px 40px
    }
}

@media (min-width: 768px) {
    .project {
        min-width:100%;
        padding-inline:5px;width: 100%
    }
    #projects-case {
        grid-template-columns:repeat(2,minmax(0,1fr));
        padding: 50px 50px 40px
    }
}

@media (min-width: 1350px) {
    .project {
        min-width:100%;
        padding-inline:20px;width: 100%
    }
    #projects-case {
        grid-template-columns:repeat(3,minmax(0,1fr));
        padding: 50px 80px 40px
    }
}



@keyframes animateToBottom {
    0% {
        transform: translate3d(0,-200px,0)
    }

    to {
        transform: translate3d(0,10px,0)
    }
}
