/* ::::::::::::::::::::  snake  :::::::::::::::::.::*/

.game {
    height: 100%;
    z-index: 20;
}

#console {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #237b6d, rgba(67, 217, 173, .13));
    border: 1px solid #000;
    height: 475px;
    justify-content: space-between;
    padding: 30px;
    position: relative;
    width: 530px;
    border-radius: 10px;
}
#game-screen {
    background-color: #011627d6;
    box-shadow: inset 0 0 10px #00000071;
    flex-wrap: wrap;
    height: 400px;
    width: 240px;
    border-radius: 10px;
    display: flex;
}


#console-menu {
    height: 400px;
}
#corner {
    height: 24px;
    width: 24px;
}


#start-button {
    background-color: #fea55f;
    border: 1px solid #000;
    border-radius: 10px;
    bottom: 20%;
    color: #000;
    cursor: pointer;
    font-size: .875rem;
    left: 17%;
    line-height: 1.25rem;
    padding-block: 8px;
    padding-inline: 16px;
    position: absolute;
}

#start-button:hover {
    background-color: #ffb277;
}

#instructions {
    background-color: #01142330;
    border-radius: 7px;
    padding: 10px;
}
#console-button {
    align-items: center;
    background-color: #010c15;
    border-radius: 10px;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 50px;
}
#console-button:hover {
    background-color: #010c15d8;
    box-shadow: 0 0 10px #43d9ad;
}
.food {
    background-color: #43d9ad;
    border-radius: 50%;
    box-shadow: 0 0 10px #43d9ad;
    height: 8px;
    opacity: .3;
    width: 8px;
}
#skip-btn {
    border: 2px solid #fff;
    border-radius: .5rem;
    color: #fff;
    font-size: 14px;
    padding-block: 8px;
    padding-inline: 16px;
}

#congrats, #game-over {
    bottom: 12%;
    color: rgb(67, 217, 173);
    position: absolute;
    width: 240px;
}
#console button{
    cursor: pointer;
}
#game-over button:hover,
#congrats button:hover{
    color: white;
}

@media (min-width: 1024px) and (max-width: 1536px) {
    #game-screen {
        width: 192px;
        height: 320px;
    }

    #console {
        width: 420px;
        height: 370px;
        padding: 24px;

    }

    #start-button {
        padding-inline: 12px;
        padding-block: 6px;
        border-radius: 8px;
        bottom: 20%;
        left: 17%;
        font-size: 0.75rem; /* 14px */
        line-height: 1rem; /* 20px */
    }

    #console-menu{
        height: 320px;
    }

    #instructions {
        font-size: 12px;
    }

    #console-button {
        width: 40px;
        height: 25px;
        border-radius: 6px;
    }

    #score-board {
        font-size: 12px;
    }

    .food {
        width: 6px;
        height: 6px;
    }

    #game-over, #congrats {
        position: absolute;
        bottom: 10%;
        color: #43D9AD;
        width: 192px;
    }

    #game-over, #congrats > span {
        font-size: 1.125rem; /* 18px */
        line-height: 1.75rem; /* 28px */
    }

    #corner {
        width: 20px;
        height: 20px;
    }

    #skip-btn{
        font-size: 12px;
        padding-inline: 12px;
        padding-block: 6px;
        border: 2px solid white;
        border-radius: 0.5rem; /* 8px */
    }
}